@using Web.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = null;
}

<link href="~/Content/Layout/animate.min.css" rel="stylesheet" />
<link href="~/Content/Layout/demo.css" rel="stylesheet" />
<link href="~/Content/Layout/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/Layout/light-bootstrap-dashboard.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.28.12/sweetalert2.min.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
<script src="https://kit.fontawesome.com/3fe98187d7.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/material-design-lite/1.1.0/material.min.css" rel="stylesheet">
<link href="https://cdn.datatables.net/1.10.19/css/dataTables.material.min.css" rel="stylesheet">
<link href="~/Content/Layout/admin-style.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />
<link href="~/Content/Layout/custom.css" rel="stylesheet" />
<div class="card-custom container" style="padding:5%">
    <h4 class="text-center">Login</h4>

    @using (Html.BeginForm("AdminLogin", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row">
            <div class="col-sm-12 form-group">
                @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
            <div class="col-sm-12 form-group">
                @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>
            <div class="col-sm-12 form-group">
                <div class="checkbox">
                    @Html.CheckBoxFor(m => m.RememberMe)
                    @Html.LabelFor(m => m.RememberMe)
                </div>
            </div>
            @*<div class="col-sm-12 form-group">
                <p>
                    @Html.ActionLink("Register A New Customer", "AdminRegister")
                </p>
            </div>*@
        </div>
        <div class="text-right">
            <button class="btn btn-success" type="submit">Login</button>
        </div>
    }
</div>

@section Scripts {
    <script src="~/Scripts/Layout/jquery.3.2.1.min.js"></script>
    <script src="~/Scripts/Layout/bootstrap.min.js"></script>
    <script src="~/Scripts/Layout/chartist.min.js"></script>
    <script src="~/Scripts/Layout/bootstrap-notify.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/Layout/light-bootstrap-dashboard.js"></script>
    <script src="~/Scripts/Layout/demo.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
}
